*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table{
    width: 80%;
    margin: 0 auto;
    margin-top: 6%;
}
td{
    padding: 8px;
    text-align: justify;
    width: 20%;
    line-height: 1.5;

}

.lastHead{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    
}

.lastHead span{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}
h2{
    margin: 20px;
    text-decoration: underline;
    margin-left: 10%;
}

ul{
    margin-left: 15%;
}

.doctor {
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.note{
    width: 80%;
    text-align: justify;
    margin: 80px auto;
}